$font_0: 'Helvetica';
$font_1: 'Arial';
$font_2: 'sans-serif';
$font_3: 'Merriweather';
$font_4: 'Georgia';
$font_5: 'serif';
$font_6: 'Helvetica';
$font_7: 'Arial';
$font_8: 'sans-serif';
$font_9: 'Merriweather';
$font_10: 'Georgia';
$font_11: 'serif';